# Task 1: Introduction

---

For this project, we are going to work on evaluating price of houses given the following features:

1. Year of sale of the house
2. The age of the house at the time of sale
3. Distance from city center
4. Number of stores in the locality
5. The latitude
6. The longitude

![Regression](images/regression.png)

Note: This notebook uses `python 3` and these packages: `tensorflow`, `pandas`, `matplotlib`, `scikit-learn`.

In [2]:
cd D:\zzzzzzzzzzzzzzzzzzCoursera proj\Predict house prices

D:\zzzzzzzzzzzzzzzzzzCoursera proj\Predict house prices

## 1.1: Importing Libraries & Helper Functions

First of all, we will need to import some libraries and helper functions. This includes TensorFlow and some utility functions that I've written to save time.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

from utils import *
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping, LambdaCallback
import tensorflow.compat.v1 as tf ################## PIECE OF CODE ADDED ######################
%matplotlib inline
tf.logging.set_verbosity(tf.logging.ERROR)

print('Libraries imported.')

Libraries imported.

# Task 2: Importing the Data

## 2.1: Importing the Data

The dataset is saved in a `data.csv` file. We will use `pandas` to take a look at some of the rows.

In [12]:
column_names = ['serial','date','age','distance','stores','latitude','longitude','price']
df = pd.read_csv('data.csv', names = column_names)
df.head()

   serial  date  age  distance  stores  latitude  longitude  price
0       0  2009   21         9       6        84        121  14264
1       1  2007    4         2       3        86        121  12032
2       2  2016   18         3       7        90        120  13560
3       3  2002   13         2       2        80        128  12029
4       4  2014   25         5       8        81        122  14157

## 2.2: Check Missing Data

It's a good practice to check if the data has any missing values. In real world data, this is quite common and must be taken care of before any data pre-processing or model training.

In [13]:
df.isna().sum()

serial       0
date         0
age          0
distance     0
stores       0
latitude     0
longitude    0
price        0
dtype: int64

# Task 3: Data Normalization

## 3.1: Data Normalization

We can make it easier for optimization algorithms to find minimas by normalizing the data before training a model.

In [14]:
df = df.iloc[:,1:]
df_norm = (df-df.mean())/df.std()
df_norm.head()

       date       age  distance    stores  latitude  longitude     price
0  0.015978  0.181384  1.257002  0.345224 -0.307212  -1.260799  0.350088
1 -0.350485 -1.319118 -0.930610 -0.609312  0.325301  -1.260799 -1.836486
2  1.298598 -0.083410 -0.618094  0.663402  1.590328  -1.576456 -0.339584
3 -1.266643 -0.524735 -0.930610 -0.927491 -1.572238   0.948803 -1.839425
4  0.932135  0.534444  0.006938  0.981581 -1.255981  -0.945141  0.245266

## 3.2: Convert Label Value

Because we are using normalized values for the labels, we will get the predictions back from a trained model in the same distribution. So, we need to convert the predicted values back to the original distribution if we want predicted prices.

In [15]:
y_mean = df['price'].mean()
y_std = df['price'].std()

def convert_label_value(pred):
    return int(pred*y_std +y_mean)

int(convert_label_value(0.350088)) # took a random value from above table

14263

# Task 4: Create Training and Test Sets

## 4.1: Select Features

Make sure to remove the column __price__ from the list of features as it is the label and should not be used as a feature.

## 4.2: Select Labels

## 4.3: Feature and Label Values

We will need to extract just the numeric values for the features and labels as the TensorFlow model will expect just numeric values as input.

## 4.4: Train and Test Split

We will keep some part of the data aside as a __test__ set. The model will not use this set during training and it will be used only for checking the performance of the model in trained and un-trained states. This way, we can make sure that we are going in the right direction with our model training.

# Task 5: Create the Model

## 5.1: Create the Model

Let's write a function that returns an untrained model of a certain architecture.

# Task 6: Model Training

## 6.1: Model Training

We can use an `EarlyStopping` callback from Keras to stop the model training if the validation loss stops decreasing for a few epochs.

## 6.2: Plot Training and Validation Loss

Let's use the `plot_loss` helper function to take a look training and validation loss.

# Task 7: Predictions

## 7.1: Plot Raw Predictions

Let's use the `compare_predictions` helper function to compare predictions from the model when it was untrained and when it was trained.

## 7.2: Plot Price Predictions

The plot for price predictions and raw predictions will look the same with just one difference: The x and y axis scale is changed.